name: flutter_debug_overlay_example
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

  collection: ^1.17.0
  universal_io: ^2.2.0
  logger: ^2.0.0
  http: ^1.0.0
  dio: ^5.0.2

  flutter_debug_overlay:
    path: "../"

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
